.bod {
	background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed;
}
.header-title {
    color: #D67E35;
    font-family: 'Tinos', serif;
    font-size: 45px;
    font-weight:400;
    text-align: center;
}
.header-logo {
    padding-right: 45px;
}
.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;   
}
.nav-item {
    color: #FFF;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-right: 24px;
    transition: color 0.3s linear;
}
.nav-item:hover {
    color: #FF7400;
}
.num {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s linear;
}
.num:hover {
    color: #FF7400;
}
.phone-text {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}
.phone-holder {
    display: flex;
    align-items: center;
}
.button {
    margin-top: 10px;
    background-color: #FF7400;
    color: #FFF;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    transition: background-color 0.2s linear;
}
.button:hover {
    background-color: #894b17;
}
.cards-holder {
    display: flex;
    justify-content: space-between;
}
.card {
    width: 350px;
    padding: 10px 10px;
}
.card-image {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.card-title {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000;
    font-family: 'Tinos', serif;
    font-size: 26px;
    font-weight:600;
    text-shadow: 1px 1px 1px black;
}
.card-title span {
    color: #BC9060;
    
}
.card-desc {
    justify-content: center;
    color: #fff;
    font-family: 'Tinos', serif;
    font-size: 18px;
    font-weight:400;
    text-shadow: 3px 3px 3px black;
}
.card-desc span {
    font-size: 14px;
}
.limon-plus {
    display: flex;
}
.plus {
   padding-right: 10px;
}
.menu-image {
    position: relative;
}
.burger-menu {
    display: none;
}
.block {
    display: block;
}
.burger-slide {
    position: absolute;
 }
.disp {
    display: none;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
}
.footer {
    background-color: #000;
    padding: 50px 0px;
    color: #fff;
    text-align: center;
    font-size: 18px;
}
.back {
        position: fixed;
        bottom: 50px;
        right: 50px;
        width: 50px;
        height: 50px;
        background: #E5E5E5;
        display: flex;
        border-radius: 21%;
        cursor: pointer;
        transition: 0.5 linear;
}



@media (max-width: 1500px) { 
    .gallery-content {
        display: block;
    }
    .img-gal,
    .gallery-up,
    .gallery-down   
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
    .img-gal {
    margin-bottom: 20px;
}
    .gallery-left {
    margin-right: 0px;
}
    
                            }

@media (max-width:1300px)   {
    .menu-items {
        display: block;
}
    .menu-item {
        margin: 20px auto;
        width: 300px;
}
    .header-title {
        position: static;
}
    .header-subtitle:before,
    .header-subtitle:after {
        content:none;
}
    .cook-content {
        display: block;
}
    .cook-content img {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;
}
    .block-holder {
        display: block;
}
    .left-title,
    .left-text    {
        text-align: center;
}
    
    .right-button    {
        text-align: center;
        margin-top: 30px;
}
    .history-images {
        display: none;
}
    .history-desc,
    .history-title,
    .history-number {
        width: auto;
}
     
                            }
@media (max-width: 1185px) {
    
    .burger-menu {
        display: block;
}
    .nav,
    .cart,
    .phone,
    .btn {
        display: none;
}
    .header-line {
        justify-content: space-between;
}
    .burgers-image {
        display: none;
}
                            }
@media (max-width: 1000px) {
    .cards-holder {
        display: block;
}
    .card {
        width: 100%;
        margin-top: 30px;
        padding-bottom: 20px;
}
                            }
@media (max-width: 780px)  {
    
    .history-holder {
        display: block;
}
    .menu-item {
        width: auto;
}
    .container {
        margin: auto 40px;
}
    .number-item {
    font-size: 23px;   
}
                            
                            }